.animation-menu {
    position: fixed;
    left:0;
    bottom: 0;
    width:20%;
    height: 93%;
    color: white;
    background-color: #242424;
    padding: 0;

}

.animation-menu-code, .animation-menu-description, .animation-menu-settings {
    margin-top: 0px;
    font-size:normal;
    padding: 20px;
    position: absolute;
    /* text-align: center; */
    
}

.animation-menu-description {
    top: 10px;
}

.animation-menu-settings-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    transition: all 0.3s ease; /* Smooth transition when size changes */
}

.animation-menu-color-container, .animation-menu-rotation-container, .animation-menu-trace-container {
    margin-top: 10px; /* Space between elements */
    padding-left: 10px;
    font-size: large;
}

.animation-menu-color {
    font-size: small;
}

.animation-menu-rotation {
    font-size: small;
}

.animation-menu-trace {
    font-size: small;
}

.uniform-color-menu {
    
}
.atomic-color-menu {

}
.residue-color-menu {

}
.on-rotation-menu {

}
.on-trace-menu {

}









.animation-menu-settings {
    top: 120px;
    font-size: larger;
}

.input-container {
    width: 80%;
    position: absolute;
    margin-top: 20px;
    text-align: center;
    opacity: 1;
    transition: 1s;
    z-index: 10;
    bottom:10px;
    left: 10px;
    padding: 10px;
    border: 2px groove white;
    border-width: 5px;
    background-color: black;
}

.input-container.hidden {
    opacity: 1;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    width: 75px;
    background-color: white;
}