body {
    background-color: white;
    color:black;
}
.notification {
    opacity: 0;
    transform: translateY(20px); /* Start slightly off-screen */
    transition: opacity 1s ease, transform 1s ease;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(20px); /* Adjust translateY */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 10;
    border: 2px solid;}
.notification.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Move to final position */}
.notification.approved {
    background-color: #95db98; /* Green for approved */
    color: rgb(2, 113, 2);
    border-color: rgb(2, 113, 2);}
.notification.denied {
    background-color: #ffa19b; /* Red for denied */
    color: rgb(124, 4, 4);
    border-color:  rgb(124, 4, 4);}
.scene-container {
    position: fixed;
    width: 80%;
    height:100vh - 60px;
    bottom: 0;
    right: 0;
    opacity: 0;
    display: block;
    transition: opacity 3s ease;
    z-index: 1;
    pointer-events: none;}
.scene-container.active {
    opacity: 1;
    pointer-events: auto;} 

.loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%; /* Start with 0% width */
    height: 20px;
    background-color: #4caf50; /* Green color */
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1001;
}

.loading-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 20px;
    background-color: #ccc; /* Background of the bar container */
    border-radius: 10px;
    overflow: hidden; /* Ensures the loading bar doesn't spill out */
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.loading-bar-container.active, 
.loading-bar.active {
    opacity: 1;
}
